.container-main {
  min-height: 84vh;
}

.text-right-label {
  text-align: right;
}

.link-class {
  text-decoration: none;
}

.card-header-bg {
  background: #208454 !important;
  color: #fff !important;
}

.card-body {
  padding: 0 !important;
}

.alert {
  --bs-alert-border-radius: 0.2 rem !important;
}

.navbar-nav .nav-item .nav-link,
.navbar-brand,
.footer-txt {
  color: #208454 !important;
}

.custom-card {
  border: 1px solid #208454 !important;
}

thead th {
  background: #609ca4 !important;
  border-bottom: 1px solid #000 !important;
  color: #fff !important;
  text-align: center;
}

tbody th,
tbody td {
  text-align: center;
}

tbody tr:last-child {
  border-bottom: 1px solid #000 !important;
}

.common-btn {
  background: #208454 !important;
  color: #fff !important;
  border: 1px solid #208454 !important;
}

.csv-label {
  margin-left: 70%;
}

.form-custom-border {
  border: 1px solid #208454 !important;
}

.form-custom-label {
  padding-right: 0 !important;
}

.form-custom-tag {
  padding: 0 !important;
}

.form-check-input:checked {
  background-color: #208454 !important;
  border-color: #208454 !important;
  box-shadow: none !important;
}

.form-check-input:not(:checked) {
  background-color: #fff !important;
  border-color: #208454 !important;
  box-shadow: none !important;
}

.modal {
  --bs-modal-width: 500px !important;
  --bs-modal-margin: 6rem !important;
}

.modal-custom {
  --bs-modal-width: 700px !important;
  --bs-modal-margin: 5rem !important;
}

.post-modal-custom {
  --bs-modal-margin: 10rem !important;
}

.post-detail-modal-custom {
  --bs-modal-width: 500px !important;
  --bs-modal-margin: 7rem !important;
}

.preview-img {
  position: relative;
}

.circle-x-btn {
  position: absolute;
  left: 37%;
  top: -2%;
}

.active {
  font-weight: bolder !important;
}

.success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
}

.circle-x-btn {
  position: absolute;
  left: 36.6%;
  top: -6.5%;
  font-size: 25px;
  color: #808080;
}

.img-preview {
  -webkit-mask:
    radial-gradient(circle 15px at top right, #0000 98%, #000) top right;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

.not-found-error-code {
  font-weight: bolder;
  font-size: 100px;
}

.not-found-txt {
  font-size: 30px;
  font-weight: bold;
}
